.bg-gray {
  background-color: #e9ecef;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

.td-address {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-tx {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section-title {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}